<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/add-user">add user</a>
        <a href="/users">users</a>
    </nav>

    <h1>add user</h1>

    <%if(isNotValid.username){%>
        <p>Username already exists!</p>
    <%}%>
    <%if(isNotValid.email){%>
        <p>Email already exists!</p>
    <%}%>
    <form id="form" action="/add-user" method="POST">
        <input type="text" name="username" placeholder="Username"/>
        <input type="email" name="email" placeholder="Email"/>
        <input type="number" name="age" placeholder="Age"/>
        <button type="submit">Add User</button>
    </form>
    
</body>
</html>